<h4 class="text-center">Présentations</h4>
<div *ngIf="pagin" class="d-flex justify-content-center mb-2">
  <app-pagination-md [pagin]="pagin" (options)="getOptions($event)"></app-pagination-md>
</div>
<div class="table-responsive">
  <table class="table table-hover bg-white mb-2">
    <thead class="text-white app-bg-primary">
      <tr>
        <th></th>
        <th class='text-center'>Titre</th>
        <th class="app-d-none">Contenu</th>
        <th class="app-d-none">Type</th>
        <th class="app-d-none">Auteur</th>
        <th class="app-d-none">Création</th>
      </tr>
    </thead>
    <tbody>
      <tr class="article" *ngFor="let article of articles">
        <td><a [routerLink]="['/minecraft', 'editer', article.id]" class="edit btn col alert-info" title="Editer"><i class="fas fa-edit"></i></a></td>
        <td class='text-left text-truncate pl-1'>{{ article.title }}</td>
        <td class="app-d-none">
          <p class="text-truncate m-auto" [innerHTML]="article.content"></p>
        </td>
        <td class="app-d-none">{{ types[article.type] }}</td>
        <td class="app-d-none">{{ article.author }}</td>
        <td class="app-d-none">{{ article.createDate }}</td>
      </tr>
    </tbody>
  </table>
</div>