<nav class="app-bg-secondary navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="https://cdn.discordapp.com/attachments/541667623620968451/558666020550606858/Les_Copains_Dabord_Logo.png" width="30" height="30" alt="Logo">
      Les copains d'abord
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarHeader">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/minecraft">Minecraft</a>
        <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/evenements">Evenements</a>
        <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/membres">Membres</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLinkActive="active"  routerLink="/profil">Profil</a>
        <a class="btn btn-info mr-2" routerLink="/connexion">Connexion</a>
        <a class="btn btn-info" routerLink="/minecraft">Deconnexion</a>
      </div>
    </div>
  </div>
</nav>