@media (max-width: 768px) {
    .row {
        margin-bottom: 10px;
    }
    .new {
        display: flex;
        justify-content: center;
    }
    .content-card {
        display: none;
    }
    .card-body {
        height: 100px;
    }
    h4 {
        font-size: 16px;
    }
    .sm-none {
        display: none;
    }
    .content {
        padding: 5px !important;
    }
}
.card-header {
    cursor: pointer;
}
.card-header:hover, .article-row:hover {
    background: #138496 !important;
}
.card-body {
    background: no-repeat center;
    background-size: cover;
}
.content-card {
    background: rgba(255, 255, 255, 0.8);
    height: 129px;
    text-align: justify;
    overflow: hidden;
    font-style: italic;
}
img {
    height: 60px;
}
.content-row {
    cursor: pointer;
    padding: 0;
}
a, a:hover {
    color: white;
}