<div *ngIf="articles">
  <h4 class="text-center">{{ types[type] }}s</h4>
</div>
<div class="row mb-2">
  <div class="new col-md-3 col-sm-12">
    <div *ngIf="isAuth('ROLE_MEMBER')">
      <a [routerLink]="['../nouveau/', type]" class="btn btn-info">Nouveau</a>
    </div>
  </div>
  <div *ngIf="pagin" class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
    <div class="pagin btn-group btn-group-sm" role="group" aria-label="pages">
      <a class="btn btn-info" (click)="getArticles(1, pagin.pageSize)">
        <i class="fas fa-angle-double-left"></i>
      </a>
      <a class="btn btn-info" (click)="getArticles(pagin.currentPage - 1, pagin.pageSize)" aria-label="Previous">
        <i class="fas fa-angle-left"></i>
      </a>
      <p class="btn btn-info">
        {{pagin.currentPage}} / {{pagin.totalPages}}
      </p>
      <a class="btn btn-info" (click)="getArticles(pagin.currentPage + 1, pagin.pageSize)" aria-label="Next">
        <i class="fas fa-angle-right"></i>
      </a>
      <a class="btn btn-info" (click)="getArticles(pagin.totalPages, pagin.pageSize)">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
</div>

<div *ngIf="articles">
  <div *ngIf="design === 'card'">
    <div class="card text-center mb-2" *ngFor="let article of articles">
      <div class="card-header app-bg-primary" [routerLink]="[article.id]">
        <h4 class="m-0">{{ article.title }}</h4>
      </div>
      <div class="card-body" [style.background-image]="'url('+article.picture+')'">
        <div class='content-card w-50 m-auto'>
          <p class="card-text p-3">{{ article.content }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="design === 'row'">
    <div class='article-row app-bg-primary d-flex text-center align-items-center mb-2' *ngFor="let article of articles">
      <div class='content-row col-md-10 col-sm-12 d-flex align-items-center' [routerLink]="[article.id]">
        <div class='icone sm-none p-2 col-md-1'><img src="{{ article.picture }}" height="60" alt="icone"></div>
        <div class='content p-2 pl-3 col-md-10 col-sm-12 text-left'>
          <h6>{{ article.title }}</h6>
          <p class="text-truncate">{{ article.content }}</p>
        </div>
        <div class='sm-none p-2 col-md-1'>{{ article.version }}</div>
      </div>
      <div class='sm-none p-2 col-md-2'><a href="{{ article.link }}" target="blank">Site officiel</a></div>
    </div>
  </div>
</div>