<div class="mt-2 mb-2">
  <a [routerLink]="['../nouveau/', type]" class="btn btn-info">Nouveau</a>
</div>

<div *ngIf="design === 'card'">
  <div class="card text-center mb-2" *ngFor="let article of articles">
    <div class="card-header app-bg-primary" [routerLink]="[article.id]">
      <h4 class="m-0">{{ article.title }}</h4>
    </div>
    <div class="card-body" [style.background-image]="'url('+article.picture+')'">
      <div class='content-card w-50 m-auto'>
        <p class="card-text p-3">{{ article.content }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="design === 'row'">
  <div class='article-row app-bg-primary d-flex text-center align-items-center mb-2' *ngFor="let article of articles">
    <div class='content-row col-md-10 d-flex align-items-center' [routerLink]="[article.id]">
      <div class='p-2 col-md-1'><img src="{{ article.picture }}" height="60" alt="icone"></div>
      <div class='p-2 pl-3 col-md-10 text-left'>
        <h6>{{ article.title }}</h6>
        <p class="text-truncate">{{ article.content }}</p>
      </div>
      <div class='p-2 col-md-1'>{{ article.version }}</div>
    </div>
    <div class='p-2 col'><a href="{{ article.link }}" target="blank">Site officiel</a></div>
  </div>
</div>