<div *ngIf="pagin.totalPages > '1'">
  <div class="pagin btn-group btn-group-sm" role="group" aria-label="pages">
    <a class="btn btn-info" (click)="setOptions(pagin.currentPage - 1, pagin.pageSize)" aria-label="Previous">
      <i class="fas fa-angle-left"></i>
    </a>
    <p class="btn btn-info">
      {{pagin.currentPage}} / {{pagin.totalPages}}
    </p>
    <a class="btn btn-info" (click)="setOptions(pagin.currentPage + 1, pagin.pageSize)" aria-label="Next">
      <i class="fas fa-angle-right"></i>
    </a>
  </div>
</div>