@media (max-width: 768px) {
    .info-serv {
        max-width: 250px;
        margin: auto;
        margin-top: 10px;
    }
}
@media (max-width: 991px) {
    .player {
        font-size: 12px;
    }
}
.player {
    text-align: center;
    border-radius: 15px 0 15px 0;
    overflow: hidden;
}