<h4 class="text-center">Membres</h4>
<div *ngIf="pagin" class="d-flex justify-content-center mb-2">
  <div class="pagin btn-group btn-group-sm" role="group" aria-label="pages">
    <a class="btn btn-info" (click)="getUsers(1, pagin.pageSize)">
      <i class="fas fa-angle-double-left"></i>
    </a>
    <a class="btn btn-info" (click)="getUsers(pagin.currentPage - 1, pagin.pageSize)" aria-label="Previous">
      <i class="fas fa-angle-left"></i>
    </a>
    <p class="btn btn-info">
      {{pagin.currentPage}} / {{pagin.totalPages}}
    </p>
    <a class="btn btn-info" (click)="getUsers(pagin.currentPage + 1, pagin.pageSize)" aria-label="Next">
      <i class="fas fa-angle-right"></i>
    </a>
    <a class="btn btn-info" (click)="getUsers(pagin.totalPages, pagin.pageSize)">
      <i class="fas fa-angle-double-right"></i>
    </a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover bg-white mb-2">
    <thead class="text-white app-bg-primary">
      <tr>
        <th></th>
        <th></th>
        <th class="app-d-none">Avatar</th>
        <th class='text-left'>Pseudo</th>
        <th class="app-d-none">Email</th>
        <th>Rang</th>
        <th class="app-d-none">Discord</th>
        <th class="app-d-none">Inscription</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user" *ngFor="let user of users">
        <td><button class="delete btn col alert-danger" (click)="delete(user)" title="Supprimer"><i class="fas fa-trash-alt"></i></button></td>
        <td><a [routerLink]="['/profil', user.id]" class="edit btn col alert-info" title="Editer"><i class="fas fa-edit"></i></a></td>
        <th class="app-d-none"><div class="d-flex justify-content-center m-auto"><img src="{{ user.picture }}" alt="avatar"></div></th>
        <td class='text-left pl-1'>{{ user.username }}</td>
        <td class="app-d-none">{{ user.email }}</td>
        <td>{{ user.roles }}</td>
        <td class="app-d-none"><span *ngIf="user.discord">#{{ user.discord }}</span></td>
        <td class="app-d-none">{{ user.createDate }}</td>
      </tr>
    </tbody>
  </table>
</div>