<form *ngIf="article" [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)" class="mb-2">
  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="title">Titre</label>
        <input type="text"class="form-control" id="title" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Titre requis</div>
        </div>
      </div>
      <div class="col row" *ngIf="type === 'ground'">
        <div class="col">
          <label>Coordonnées</label>
          <div class="d-flex flex-nowrap form-inline">
            <div class="form-group">
              <label for="x">X :</label>
              <input type="number" class="form-control w-75 ml-1" id="x" formControlName="location_x" [ngClass]="{'is-invalid': submitted && f.location_x.errors}">
              <div *ngIf="submitted && f.location_x.errors" class="invalid-feedback">
                <div *ngIf="f.location_x.errors.required">Coordonnées requise</div>
              </div>
            </div>
            <div class="form-group">
              <label for="y">Y :</label>
              <input type="number" class="form-control w-75 ml-1" id="y" formControlName="location_y" [ngClass]="{'is-invalid': submitted && f.location_y.errors}">
              <div *ngIf="submitted && f.location_y.errors" class="invalid-feedback">
                <div *ngIf="f.location_y.errors.required">Coordonnées requise</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="picture">Illustration</label>
          <input type="url" class="form-control" id="picture" placeholder="Url de l'image" formControlName="picture" [ngClass]="{'is-invalid': submitted && f.picture.errors}">
          <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
            <div *ngIf="f.picture.errors.required">Illustration requise</div>
          </div>
        </div>
      </div>

      <div class="col row" *ngIf="type === 'plugin'">
        <div class="col d-flex">
          <div class="form-group mr-4 mb-0">
            <label for="version">Version</label>
            <input type="text" class="form-control" id="version" formControlName="version" [ngClass]="{'is-invalid': submitted && f.version.errors}">
            <div *ngIf="submitted && f.version.errors" class="invalid-feedback">
              <div *ngIf="f.version.errors.required">Version requise</div>
            </div>
          </div>
          <div class="form-group mb-0">
            <label for="picture">Logo</label>
            <input type="url" class="form-control" id="picture" placeholder="Url du logo" formControlName="picture" [ngClass]="{'is-invalid': submitted && f.picture.errors}">
            <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
              <div *ngIf="f.picture.errors.required">Logo requis</div>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="link">Site officiel</label>
          <input type="url" class="form-control" id="link" placeholder="Url du site" formControlName="link" [ngClass]="{'is-invalid': submitted && f.link.errors}">
          <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
            <div *ngIf="f.link.errors.required">Lien requis</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="content">Contenu du message</label>
    <textarea class="form-control" id="content" rows="10" formControlName="content" [ngClass]="{'is-invalid': submitted && f.content.errors}"></textarea>
    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
      <div *ngIf="f.content.errors.required">Contenu requis</div>
    </div>
  </div>
  <button type="submit" class="btn btn-info">Publier</button>
</form>