<form *ngIf="article" [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)" class="mb-2">
  <div class="form-group">
    <div class="row">
      <div class="title col-md-4 col-sm-12">
        <label for="title">Titre</label>
        <input type="text"class="form-control" id="title" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Titre requis</div>
          <div *ngIf="f.title.errors.maxlength">Valeur trop longue</div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12" *ngIf="type === 'ground'">
        <div class="row">
          <div class="grp col-md-6">
            <label>Coordonnées</label>
            <div class="d-flex flex-nowrap justify-content-between form-inline">
              <div class="x form-group flex-wrap p-0 pr-1">
                <label for="x">X</label>
                <input type="number" class="form-control w-75 ml-1" id="x" formControlName="location_x" [ngClass]="{'is-invalid': submitted && f.location_x.errors}">
              </div>
              <div class="y form-group flex-wrap justify-content-end p-0">
                <label for="y">Y</label>
                <input type="number" class="form-control w-75 ml-1" id="y" formControlName="location_y" [ngClass]="{'is-invalid': submitted && f.location_y.errors}">
              </div>
            </div>
            <div *ngIf="submitted && (f.location_x.errors || f.location_y.errors)" class="invalid-gps">
              <div *ngIf="(f.location_x.errors && f.location_x.errors.required) || (f.location_y.errors && f.location_y.errors.required)">Coordonnées requise</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="picture">Illustration</label>
            <input type="url" class="form-control" id="picture" placeholder="Url de l'image" formControlName="picture" [ngClass]="{'is-invalid': submitted && f.picture.errors}">
            <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
              <div *ngIf="f.picture.errors.required">Illustration requise</div>
              <div *ngIf="f.picture.errors.maxlength">Valeur trop longue</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12" *ngIf="type === 'plugin'">
        <div class="row">
          <div class="grp col-md-6 d-flex">
            <div class="form-group mr-4 mb-0">
              <label for="version">Version</label>
              <input type="text" class="form-control" id="version" formControlName="version" [ngClass]="{'is-invalid': submitted && f.version.errors}">
              <div *ngIf="submitted && f.version.errors" class="invalid-feedback">
                <div *ngIf="f.version.errors.required">Version requise</div>
                <div *ngIf="f.version.errors.maxlength">Valeur trop longue</div>
              </div>
            </div>
            <div class="form-group mb-0">
              <label for="picture">Logo</label>
              <input type="url" class="form-control" id="picture" placeholder="Url du logo" formControlName="picture" [ngClass]="{'is-invalid': submitted && f.picture.errors}">
              <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
                <div *ngIf="f.picture.errors.required">Logo requis</div>
                <div *ngIf="f.picture.errors.maxlength">Valeur trop longue</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="link">Site officiel</label>
            <input type="url" class="form-control" id="link" placeholder="Url du site" formControlName="link" [ngClass]="{'is-invalid': submitted && f.link.errors}">
            <div *ngIf="submitted && f.link.errors" class="invalid-feedback">
              <div *ngIf="f.link.errors.required">Lien requis</div>
              <div *ngIf="f.link.errors.maxlength">Valeur trop longue</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="content">Contenu du message</label>
    <editor class="is-invalid" formControlName="content" [ngClass]="{'is-invalid': submitted && f.content.errors}"
      [init]="{
        menubar: false,
        statusbar: false,
        plugins: 'autoresize advlist autolink link lists',
        toolbar: 'undo redo | cut copy paste blockquote | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | fontselect fontsizeselect forecolor backcolor bold italic underline strikethrough'
      }">
    </editor>
    <div *ngIf="submitted && f.content.errors" class="invalid-data">
      <div *ngIf="f.content.errors.required">Contenu requis</div>
      <div *ngIf="f.content.errors.maxlength">Valeur trop longue</div>
    </div>
  </div>
  <button type="submit" class="btn btn-info">Publier</button>
</form>