<h4 class="text-center">Membres</h4>
<div *ngIf="pagin" class="d-flex justify-content-center mb-2">
  <div class="pagin btn-group btn-group-sm" role="group" aria-label="pages">
    <a class="btn btn-info" (click)="getUsers(1, pagin.pageSize)">
      <i class="fas fa-angle-double-left"></i>
    </a>
    <a class="btn btn-info" (click)="getUsers(pagin.currentPage - 1, pagin.pageSize)" aria-label="Previous">
      <i class="fas fa-angle-left"></i>
    </a>
    <p class="btn btn-info">
      {{pagin.currentPage}} / {{pagin.totalPages}}
    </p>
    <a class="btn btn-info" (click)="getUsers(pagin.currentPage + 1, pagin.pageSize)" aria-label="Next">
      <i class="fas fa-angle-right"></i>
    </a>
    <a class="btn btn-info" (click)="getUsers(pagin.totalPages, pagin.pageSize)">
      <i class="fas fa-angle-double-right"></i>
    </a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover bg-white mb-0">
    <thead class="text-white app-bg-primary">
      <tr>
        <th class="img"></th>
        <th class='text-left'>Pseudo</th>
        <th>Rang</th>
        <th>Discord</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th class="img"><div class="d-flex justify-content-center"><img src="{{ user.picture }}" alt="avatar"></div></th>
        <td class='col text-left'>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
        <td><span *ngIf="user.discord">#{{ user.discord }}</span></td>
      </tr>
    </tbody>
  </table>
</div>