<div class="table-responsive">
  <table class="table table-hover bg-white mb-2">
    <thead class="text-white app-bg-primary">
      <tr>
        <th></th>
        <th></th>
        <th class='text-left'>Titre</th>
        <th>Contenu</th>
        <th>Support</th>
        <th>Auteur</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="event" *ngFor="let event of events">
        <td><button class="delete btn col alert-danger" (click)="delete(event)" title="Supprimer"><i class="fas fa-trash-alt"></i></button></td>
        <td><a [routerLink]="['/evenements', 'editer', event.id]" class="edit btn col alert-info" title="Editer"><i class="fas fa-edit"></i></a></td>
        <td class='text-left pl-1'>{{ event.title }}</td>
        <td>
          <p class="text-truncate">{{ event.content }}</p>
        </td>
        <td>{{ event.support }}</td>
        <td>{{ event.author }}</td>
        <td>{{ event.create_date }}</td>
      </tr>
    </tbody>
  </table>
</div>