@media (max-width: 768px) {
    #article-nav {
        max-width: 250px;
        margin: auto;
        margin-top: .5em;
    }
    .col {
        flex-basis: unset;
    }
    #article {
        padding-right: 0 !important;
    }
    .info {
        justify-content: center;
        padding: 3px !important;
    }
    .info .col {
        text-align: center !important;
    }
    h1{
        font-size: 2em;
    }
}
@media (max-width: 991px) {
    .info {
        justify-content: center;
        padding: 3px !important;
    }
    .info .col {
        text-align: center !important;
    }
    .col {
        flex-basis: unset;
    }
    .item-menu {
        font-size: 12px;
    }
}
.item-menu:hover, #article-nav .btn {
    cursor: pointer;
    background: #6EB7BF;
    color: white !important;
}
#article-nav .btn:hover {
    background: #138496;
    color: white !important;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
#article-nav .btn {
    border: none;
    color: black !important;
}
#article-nav {
    font-size: 14px;
}
#article section{
    border-top: none;
}
.btn-group .nav-link {
    padding-left: 0;
    padding-right: 0;
}