<div class='d-flex flex-wrap' *ngIf="article">
  <div id="article" class='col-md-10 col-sm-12 p-0 pr-2'>
    <div class='info app-bg-secondary d-flex flex-wrap align-items-center font-italic p-2 rounded-top'>
      <div class='col'>Auteur : {{ article.author }}</div>
      <div class='col text-center' *ngIf="article.type === 'ground'">Coordonnées : X:{{ article.locationX }} / Y:{{ article.locationY }}</div>
      <div class='col text-center' *ngIf="article.type === 'plugin'">Version : {{ article.version }}</div>
      <div class='col text-right'>{{ article.createDate }}</div>
    </div>
    <section>
      <h1 class='text-center'>{{ article.title }}</h1>
      <p [innerHTML]="article.content | keepHtml"></p>
    </section>
  </div>
  <div id="article-nav" class='col-md-2 col-sm-12 p-0'>
    <div class='action app-bg-secondary d-flex align-items-center rounded-top btn-group'>
      <a *ngIf="isAuth('ROLE_ADMIN')" [routerLink]="['/minecraft', 'editer', article.id]" class="nav-link btn col" title="Editer"><i class="fas fa-edit"></i></a>
      <button *ngIf="isAuth('ROLE_ADMIN')" class="nav-link btn col" (click)="delete(article)" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
      <button class="nav-link btn col" (click)="goBack()" title="Retour"><i class="fas fa-reply"></i></button>
    </div>
    <section>
      <h3 class='text-center'>{{ types[article.type] }}s</h3>
      <hr>
      <div *ngFor="let article of articles">
        <a class='item-menu text-info p-1' [routerLink]="['../', article.id]">
          <i class="fas fa-angle-right"></i> {{ article.title }}
        </a>
      </div>
      <hr>
      <div *ngIf="pagin" class="d-flex justify-content-center">
          <app-pagination-sm [pagin]="pagin" (options)="getOptions($event)"></app-pagination-sm>
      </div>
    </section>
  </div>
</div>