<div id="event" class='d-flex' *ngIf="event">
  <div class='col-md-10 p-0 pr-2'>
    <div class='app-bg-secondary d-flex align-items-center font-italic p-2 rounded-top'>
      <div class='col-md-4'>Auteur : {{ event.author }}</div>
      <div class='col-md-4 text-center'>{{ event.support }}</div>
      <div class='col-md-4 text-right'>{{ event.date }} ({{ event.time }}h)</div>
    </div>
    <section>
      <h1 class='text-center'>{{ event.title }}</h1>
      <p>{{ event.content }}</p>
    </section>
  </div>
  <div id="event-nav" class='col p-0'>
    <div class='app-bg-secondary d-flex align-items-center rounded-top btn-group'>
        <a [routerLink]="['/evenements', 'editer', event.id]" class="nav-link btn col" title="Editer"><i class="fas fa-edit"></i></a>
      <button class="nav-link btn col" (click)="delete(event)" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
      <button class="nav-link btn col" (click)="goBack()" title="Retour"><i class="fas fa-reply"></i></button>
    </div>
    <section>
      <h4 class='text-center'>Participants</h4>
      <hr>
      <div *ngIf='subscribers'>
        <div class='app-bg-primary border border-dark mt-1 p-1' *ngFor="let subscriber of subscribers">{{ subscriber.username }}</div>
      </div>
      <hr>
      <button class="btn btn-sm btn-info w-100 " (click)="subscribe()">Je participe !</button>
    </section>
  </div>
</div>
