<div id="event" class='d-flex flex-wrap' *ngIf="event">
  <div class='event col-md-10 col-sm-12 p-0 pr-2'>
    <div class='info app-bg-secondary d-flex flex-wrap align-items-center font-italic p-2 rounded-top'>
      <div class='col'>Auteur : {{ event.author }}</div>
      <div class='col text-center'>{{ event.support }}</div>
      <div class='col text-right'>{{ event.date }} ({{ event.time }}h)</div>
    </div>
    <section>
      <h1 class='text-center'>{{ event.title }}</h1>
      <p>{{ event.content }}</p>
    </section>
  </div>
  <div id="event-nav" class='col-md-2 col-sm-12 p-0'>
    <div class='app-bg-secondary d-flex align-items-center rounded-top btn-group'>
        <a *ngIf="isAuth('ROLE_ADMIN')" [routerLink]="['/evenements', 'editer', event.id]" class="nav-link btn col" title="Editer"><i class="fas fa-edit"></i></a>
      <button *ngIf="isAuth('ROLE_ADMIN')" class="nav-link btn col" (click)="delete(event)" title="Supprimer"><i class="fas fa-trash-alt"></i></button>
      <button class="nav-link btn col" (click)="goBack()" title="Retour"><i class="fas fa-reply"></i></button>
    </div>
    <section>
      <h4 class='text-center'>Participants</h4>
      <div *ngIf='subscribers'>
        <hr>
        <div>
          <div class='item-menu app-bg-primary border border-dark mt-1 p-1' *ngFor="let subscriber of subscribers">{{ subscriber.username }}</div>
        </div>
      </div>
      <div *ngIf="!isSub">
        <hr>
        <button class="btn btn-sm btn-info w-100 " (click)="subscribe()">Je participe !</button>    
      </div>
    </section>
  </div>
</div>
