<div class="app-bg-primary text-center mb-2">
  <h1 class="p-1">Profil</h1>
</div>
<div class='justify-content-center m-3'>
  <div *ngIf="error" class="text-center alert alert-danger" role="alert">
    {{ error }}
  </div>
  <div *ngIf="submitted && edited" class="text-center alert alert-success" role="alert">
    {{ edited }}
  </div>
  <form *ngIf="user" [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)"  class="app-form row text-left m-auto w-75">
    <div class="mb-1 col-md-6 col-sm-12">
      <div class="form-group">
        <label for="username">Pseudo</label>
        <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{'is-invalid': submitted && f.username.errors}" readonly>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Pseudo requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordOld">Ancien mot de passe</label>
        <input type="password" class="form-control" id="passwordOld" formControlName="passwordOld" [ngClass]="{'is-invalid': submitted && f.passwordOld.errors}">
        <div *ngIf="submitted && f.passwordOld.errors" class="invalid-feedback">
          <div *ngIf="f.passwordOld.errors.required">Mot de passe requis</div>
          <div *ngIf="f.passwordOld.errors.minlength">Mot de passe trop court</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Mot de passe requis</div>
          <div *ngIf="f.password.errors.minlength">Mot de passe trop court</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password-conf">Confirmation</label>
        <input type="password" class="form-control" id="password-conf" formControlName="passwordConf" [ngClass]="{'is-invalid': submitted && f.passwordConf.errors}">
        <div *ngIf="submitted && f.passwordConf.errors" class="invalid-feedback">
          <div *ngIf="f.passwordConf.errors.required">Confirmation requise</div>
          <div *ngIf="f.passwordConf.errors.confirmMatch">Confirmation invalide</div>
        </div>
      </div>
    </div>
    <div class="mb-1 col-md-6 col-sm-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email requis</div>
          <div *ngIf="f.email.errors.email">Email invalide</div>
        </div>
      </div>
      <div class="form-group">
        <label for="picture">Avatar</label>
        <input type="text" class="form-control" id="picture" formControlName="picture" [ngClass]="{'is-invalid': submitted && f.picture.errors}">
        <div *ngIf="submitted && f.picture.errors" class="invalid-feedback">
          <div *ngIf="f.picture.errors.url">Url invalide</div>
        </div>
      </div>
      <div class="form-group">
        <label for="discord">Discord</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input type="text" class="form-control" id="discord" formControlName="discord" [ngClass]="{'is-invalid': submitted && f.discord.errors}">
          <div *ngIf="submitted && f.discord.errors" class="invalid-feedback">
            <div *ngIf="f.discord.errors.maxlength">Valeur trop longue</div>
            <div *ngIf="f.discord.errors.minlength">Valeur trop courte</div>
            <div *ngIf="f.discord.errors.confirmDiscord">Chiffres uniquement</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="roles">Rang</label>
        <select *ngIf="!haveRoles('ROLE_ADMIN')" class="form-control" id="roles" formControlName="roles" disabled>
          <option [value]="role.key" *ngFor="let role of roles">
            {{ role.value }}
          </option>
        </select>
        <select *ngIf="haveRoles('ROLE_ADMIN')" class="form-control" id="roles" formControlName="roles">
          <option [value]="role.key" *ngFor="let role of roles">
            {{ role.value }}
          </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-info m-auto" [disabled]="submitted">Modifier</button>
  </form>
</div>